In [17]:
print("Hello World!!!")

Hello World!!!

In [18]:
print('Hello World!!!!')

Hello World!!!!

In [23]:
print("Today's Assignment")

Today's Assignment

# Use of  \t

In [25]:
print("Today's \tAssignment")

Today's 	Assignment

In [29]:
print('Today's Assignment')

SyntaxError: invalid syntax (<ipython-input-29-f5a283b6f09c>, line 1)

# Use of  \

In [31]:
print('Today\'s Assignment')

Today's Assignment

# Use of  \n

In [32]:
print("My name is Sunil\nMy DOB is 8 July...")

My name is Sunil
My DOB is 8 July...

In [33]:
x=10
y=20

In [34]:
print(x)

10

In [35]:
print(x+y)

30

In [36]:
x*y

200

In [37]:
x/y

0.5

In [38]:
x//y

0

In [39]:
x%y

10

In [40]:
x+2

12

In [41]:
x+=2

In [42]:
print(x)

12

In [43]:
print("Hello \
python")

Hello python

In [44]:
print('''(｡♥‿♥｡)''')

(｡♥‿♥｡)

In [45]:
name = "SUNIL"
age = 21
marks = 85.69
print("The name is", name,"and his age is", age,"and he scored", marks,"marks")

The name is SUNIL and his age is 21 and he scored 85.69 marks

In [47]:
print("The name is %s and his age is %d and he scored %.1f marks"%(name, age, marks))

The name is SUNIL and his age is 21 and he scored 85.7 marks

In [48]:
a=10
A=10
print(a,A)

10 10

# id() used for getting RAM addresses

In [49]:
id(a)

140734396605104

In [50]:
id(A)

140734396605104

In [51]:
a10=25

In [52]:
print(a10)

25

In [53]:
x=y=10
x

10

In [54]:
y

10

# operators

In [55]:
3**3

27

In [56]:
10+15

25

In [57]:
79-15

64

In [58]:
20/5

4.0

In [59]:
20/7

2.857142857142857

In [60]:
20//7

2

In [61]:
20%7

6

In [62]:
a=10
b=12
a==b

False

In [63]:
c=10
a==c

True

In [64]:
a<b

True

In [65]:
b>c

True

In [66]:
a>b

False

In [68]:
a==c

True

In [69]:
a!=c

False

In [70]:
a!=b

True

## bitwise operators --->  |,&,~,^,<<,>>,bin()

'|' is like addition

In [71]:
a=145
b=2
a|b

147

In [72]:
bin(a)

'0b10010001'

In [73]:
bin(b)

'0b10'

In [74]:
a&b

0

In [77]:
a&~b

145

In [76]:
~a

-146

In [78]:
a^b

147

In [79]:
a<<b

580

In [80]:
a>>b

36

In [81]:
a-b

143

In [82]:
str1="Python Programming"
"p" in str1

False

In [83]:
"P" in str1

True

In [84]:
"s" not in str1

True

## identity operator --->  is, is not

In [85]:
a=10
b=10

In [86]:
a is b

True

In [87]:
c=20

In [88]:
a is not b

False

In [89]:
a is not c

True

### for integer from -5 to 256  eg, a=5, b=5 here a and b allocates same memory location

In [90]:
a=-4
b=-4
a is b

True

In [91]:
a=256
b=256
a is b

True

In [93]:
a=-6
b=-6
a is b

False

## operator precedence

In [94]:
10+10/20*5

12.5

In [95]:
2**2

4

In [96]:
2**-1

0.5

In [97]:
25/5-15*2/4

-2.5